@mixin reset {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// media query for mobile devices
@mixin mobile-device {
    .nav-content a {
        font-size: .6rem;
        letter-spacing: .5px !important;
    }

    header .nav-content {
        padding: 0 .2rem !important;
    }

    body main {
        margin: .4rem auto;
        padding: .8rem .2rem !important;

        .topic-container .topic-title {
            font-size: .8rem;
        }

        .topic-content-container {
            // overflow: hidden;
            // width: calc(78px * 4 + .2rem * 2 + .3rem * 2 + .2rem);
            padding: .3rem;
            grid-gap: .2rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .topic-content-container .boxes {
            padding: .3rem;
        }

        .boxes img {
            margin-bottom: .3rem;
            width: 16px;
        }

        .boxes .box-desc-content h2 {
            font-size: .6rem;
        }

        .boxes .box-desc-content p  {
            font-size: .4rem;
        }

        .box-type-content .box-type {
            font-size: .4rem;
        }

        .topic-container .expand-icon {
            height: 20px;
            width: 20px;
            font-size: .5rem;
        }

        .desc-container {
            padding: .8rem .3rem;
        }

        .desc-container p {
            font-size: .6rem;
        }
    }

    footer {
        padding: 0 !important;
        footer .footer-container {
            width: 100% !important;
        }

        .bottomf-container {
            & .b-c span {
                font-size: .6rem;
            }
        }
    }
}

// media query for tablet devices
@mixin tablet-device {
    .nav-content a {
        font-size: .8rem;
        letter-spacing: .5px !important;
    }

    header .nav-content {
        padding: 0 .2rem !important;
    }

    body main {
        margin: .4rem auto;
        padding: .8rem .2rem !important;

        .topic-container .topic-title {
            font-size: .8rem;
        }

        .topic-content-container {
            // overflow: hidden;
            // width: calc(78px * 4 + .2rem * 2 + .3rem * 2 + .2rem);
            padding: .3rem;
            grid-gap: .2rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .topic-content-container .boxes {
            padding: .3rem;
        }

        .boxes img {
            margin-bottom: .3rem;
            width: 16px;
        }

        .boxes .box-desc-content h2 {
            font-size: .6rem;
        }

        .boxes .box-desc-content p  {
            font-size: .6rem;
        }

        .box-type-content .box-type {
            font-size: .4rem;
        }

        .topic-container .expand-icon {
            height: 20px;
            width: 20px;
            font-size: .5rem;
        }

        .desc-container {
            padding: .8rem .3rem;
        }

        .desc-container p {
            font-size: .6rem;
        }
    }

    footer {
        padding: 0 !important;
        footer .footer-container {
            width: 100% !important;
        }

        .bottomf-container {
            & .b-c span {
                font-size: .6rem;
            }
        }
    }
}

// media query for laptop devices
@mixin laptop-device {

}

// media query for desktop devices
@mixin desktop-device {

}