// Colors
$primary-light: #FF731D;
$secondary-light: #5F9DF7;
$secondary-dark: #007BFF;
$dark-color: #000;
$light-color: #fff;
$background-dark: rgb(255, 255, 255, .8);

// Widths
$max-heigt: 100%;
$max-width: 100%;
$center-width: 85%;

// Heights

// Weights

// Font Sizes
